<%- include('partials/header') %>

	<!-- INCLUDING JQUERY-->
	<script src=
      "https://code.jquery.com/jquery-3.5.1.js">
	</script>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <p class="secret-text">Jack Bauer is my hero.</p>
    <hr>    
    <script>
      $(document).ready(function () {

        // FETCHING DATA FROM JSON FILE
        $.getJSON('./data_science.json',
            function (data) {
          var student = '';
          data = data.dataScience;

          // ITERATING THROUGH OBJECTS
          $.each(data, function (key, value) {

            //CONSTRUCTION OF ROWS HAVING
            // DATA FROM JSON OBJECT
            console.log(key);
            
            student += '<tr>';
            student += '<td>' +
              value.QuestionId + '</td>';

            student += '<td>' +
              value.OptionA + '</td>';

            student += '<td>' +
              value.OptionB + '</td>';

            student += '<td>' +
              value.OptionC + '</td>';

            student += '<td>' +
              value.OptionD + '</td>';

            student += '<td>' +
              value.Answer + '</td>';

            student += '</tr>';
          });
          
          //INSERTING ROWS INTO TABLE
          $('#table').append(student);
        });
      });
    </script>
    <a class="btn btn-light btn-lg" href="/" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
